<section class="container">
    <div class="card">
        <div class="card-image realme-narzo-50"></div>
        <h2>Realme Narzo 50</h2>
        <p> Triple Camera Setup: 50MP Main Camera (Samsung S5KJN1, f/1.8 Aperture, FOV: 77.07 Degree, Focal Length: 26.79 mm, 5P Lens, 1/2.76 Inch Sensor Size, 0.64 um Pixel ...  </p>
        <a href="https://buy.realme.com/in/goods/512" target="_blank">Order Now</a>
    </div>
    <!--realme-neo-150-->
    <div class="card">
        <div class="card-image realme-neo-150"></div>
        <h2>Realme GT NEO3 150 </h2>
        <p>
            Unleash the suppressed gamer in you and enjoy a top-notch user interface with the Realme GT NEO 3 smartphone. This phone is designed in such a way that it attracts the onlookers and performs so well that... </p>
        <a href="https://buy.realme.com/in/goods/533?id=1105" target="_blank">Order Now</a>
    </div>
<!--realme-neo-80-->
    <div class="card">
        <div class="card-image realme-neo-80"></div>
        <h2>Realme GT NEO3 </h2>
        <p>
            Unleash the suppressed gamer in you and enjoy a top-notch user interface with the Realme GT NEO 3 smartphone. This phone is designed in such a way that it attracts the onlookers and performs so well that ...</p>
        <a href="https://buy.realme.com/in/goods/533?id=1242"target="_blank">Order Now</a>
    </div>
    <!--realme-9-pro-->
    <div class="card">
        <div class="card-image realme-9-pro"></div>
        <h2>Realme 9 Pro+ 5G</h2>
        <p>
            90 Hz Refresh Rate, Aspect Ratio: 20:9, Screen-to-Body Ratio: 90.80%, Screen Contrast: 100000:1, Brightness: 430 nit, Color Saturation: 98% NTSC, Sunlight Screen Support...</p>
        <a href="https://buy.realme.com/in/goods/483"target="_blank">Order Now</a>
    </div>
    <!--realme-gt-2-pro-->
    <div class="card">
        <div class="card-image realme-gt-2-pro"></div>
        <h2>realme GT 2 Pro </h2>
        <p>
            This phone comes with a 2K AMOLED flat screen with LPTO 2.0 to facilitate an immersive display and clear picture quality. Furthermore, HDR 10+ and up to 1.07 billion colours featured in this....
        </p>
        <a href="https://buy.realme.com/in/goods/528"target="_blank">Order Now</a>
    </div>
    <!--realme-9i-5g-->
    <div class="card">
        <div class="card-image realme-9i-5g"></div>
        <h2>Realme 9i 5G</h2>
        <p>
            Discover novel possibilities and see the world quite clearly with the realme 9i 5G smartphone, which has a plethora of innovative capabilities. You can enjoy quick 5G speeds and outstanding performance thanks...
        </p>
        <a href="https://buy.realme.com/in/goods/565"target="_blank">Order Now</a>
    </div>
    <!--realme-c30-->
    <div class="card">
        <div class="card-image realme-c30"></div>
        <h2>Realme C30</h2>
        <p>
            8MP Camera Setup: (SmartSens SC800CS, f/2.0 Aperture, FOV: 77.3 Degree, Focal Length: 26.05 mm, 4P Lens, CMOS Sensor, 1/4 inch Sensor Size, 1.12um Pixel Size, Autofocus)...
        </p>
        <a href="https://buy.realme.com/in/goods/558"target="_blank">Order Now</a>
    </div>
    <!--realme-c31-->
    <div class="card">
        <div class="card-image realme-c31"></div>
        <h2>Realme C31</h2>
        <p>
            Craving for an entertainment buddy? Wait no more and enjoy the best company that is designed specially for tech-geeks. With a brilliant camera set-up this phone enables you to capture stunning images....
        </p>
        <a href="https://buy.realme.com/in/goods/516"target="_blank">Order Now</a>
    </div>
</section>