<main class="all">
  <div class="wrapper">
      <header>Contact Us</header>
      <form action="#">
        <div class="dbl-field">
          <div class="field">
            <input type="text" name="name" placeholder="Enter your name">
            <i class='fas fa-user'></i>
          </div>
          <div class="field">
            <input type="text" name="email" placeholder="Enter your email">
            <i class='fas fa-envelope'></i>
          </div>
        </div>
        <div class="dbl-field">
          <div class="field">
            <input type="text" name="phone" placeholder="Enter Your Phone Number">
            <i class='fas fa-phone-alt'></i>
          </div>
          <div class="field">
            <input type="text" name="website" placeholder="Enter The Website">
            <i class='fas fa-globe'></i>
          </div>
        </div>
        <div class="message">
          <textarea placeholder="Write your Message" name="message"></textarea>
          <i class="material-icons"></i>
        </div>
        <div class="button-area">
          <button type="submit">Send Message</button>
          <span></span>
        </div>
      </form>
    </div>
  </main>