<section class="container">
    <div class="card">
        <div class="card-image oneplus-10t"></div>
        <h2>OnePlus 10T 5G</h2>
        <p> In The Box
            Phone,SIM Tray Ejector, Adapter, Phone Case, USB Cable Model Number CPH2413 Model Name 10T 5G Color Moonstone Black Browse Type Smartphones SIM Type...  </p>
        <a href="https://www.oneplus.in/oneplus-10t" target="_blank">Order Now</a>
    </div>
    <!--onplus-nord-2-->
    <div class="card">
        <div class="card-image oneplus-nord-2"></div>
        <h2>OnePlus Nord 2T 5G  </h2>
        <p>
            In The Box Mobile, Adapter, Phone Case, SIM Tray Ejector, USB Cable Model Number CPH2401 Model Name Nord 2T 5G Color Jade Fog Browse Type Smartphones SIM Type Dual Sim... </p>
        <a href="https://www.oneplus.in/oneplus-nord-2t-5g" target="_blank">Order Now</a>
    </div>
<!--oneplus-10-5g-->
    <div class="card">
        <div class="card-image oneplus-10r-5g"></div>
        <h2>OnePlus 10R 5G </h2>
        <p>
            1 year manufacturer warranty for device and 6 months manufacturer warranty for in-box accessories including batteries from the date of purchase...</p>
        <a href="https://www.oneplus.in/oneplus-10r"target="_blank">Order Now</a>
    </div>
    <!--oneplus-10-pro-->
    <div class="card">
        <div class="card-image oneplus-10-pro"></div>
        <h2>OnePlus 10 Pro 5G</h2>
        <p>
            amera: 48MP Main Camera with Sony IMX 789 Lens (OIS enabled), 50MP Ultra-wide angle camera & 8MP Tele photo lens; Front (Selfie) Camera: 32MP; Flash: Dual LED Camera Features: Hasselblad Camera...</p>
        <a href="https://www.oneplus.in/oneplus-10-pro"target="_blank">Order Now</a>
    </div>
    <!--oneplus-nord-ce2-->
    <div class="card">
        <div class="card-image oneplus-nord-ce2"></div>
        <h2>OnePlus Nord CE2 5G </h2>
        <p>
            65W SUPERVOOC - Accelerated charge velocity shall rocket the 4500mAh battery to a day's power in 15 minutes. Certified by TÜV Rheinland, one shall “Charge & Play” with absolute peace of mind. Mediatek Dimensity 900....
        </p>
        <a href="https://www.oneplus.in/oneplus-nord-ce-2-5g"target="_blank">Order Now</a>
    </div>
    <!--oneplus-9-5g-->
    <div class="card">
        <div class="card-image oneplus-9-5g"></div>
        <h2>OnePlus 9 5G</h2>
        <p>
            Rear Triple Camera Co-Developed by Hasselblad, 48 MP Main camera, 50 MP Ultra Wide Angle Camera with Free Form Lens, 2 MP Monochorme Lens. Also comes with a 16 MP Front Camera Qualcomm Snapdragon...
        </p>
        <a href="https://www.oneplus.in/oneplus-9"target="_blank">Order Now</a>
    </div>
    <!--oneplus-9rt-->
    <div class="card">
        <div class="card-image oneplus-9rt"></div>
        <h2>OnePlus 9RT 5G</h2>
        <p>
            Camera: 50MP Main Camera with Sony IMX 766 Lens (OIS enabled), 16MP Ultra-wide angle camera & 2MP Macrolens; Front (Selfie) Camera: 16MP; Flash: Dual LED Camera Features: Night Mode, Macro Mode...
        </p>
        <a href="https://www.oneplus.in/oneplus-9rt"target="_blank">Order Now</a>
    </div>
    <!--oneplus-8-->
    <div class="card">
        <div class="card-image oneplus-8"></div>
        <h2>OnePlus 8</h2>
        <p>
            48MP rear camera with 4K video at 30/60 fps, 1080P video at 30/60 fps, super slow motion: 720p video at 480 fps, 1080p video at 240fps, time-lapse: 1080P 30fps, 4k 30fps, CINE aspect ratio video recording, ultrashot...
        </p>
        <a href="https://www.oneplus.in/oneplus-8?sku=5011100971"target="_blank">Order Now</a>
    </div>
</section>