<section class="container">
    <div class="card">
        <div class="card-image google-pixel-7"></div>
        <h2>Google Pixel 7 Pro 5G</h2>
        <p> Introducing Pixel 7 Pro, Google's best-of-everything phone. Powered by Google Tensor G2, it's fast and secure...  </p>
        <a href="https://store.google.com/us/config/pixel_7_pro?hl=en-GB&selections=eyJTZ2EiOiJjR2w0Wld4Zk4xOXdjbTg9IiwiVGdhIjoiY0dsNFpXeGZOMTl3Y204PSJ9" target="_blank">Order Now</a>
    </div>
    <!--google-7-->
    <div class="card">
        <div class="card-image google-7"></div>
        <h2>Google Pixel 7</h2>
        <p>
            Experience smooth operation and brilliant user interface with the 5G-ready Google Pixel 7 smartphone that comes loaded with innovative features. Google Tensor G2 makes the Pixel 7 faster, more efficient, and more secure and it delivers... </p>
        <a href="https://store.google.com/us/config/pixel_7?hl=en-GB&selections=eyJTZ2EiOiJjR2w0Wld4Zk4xOXdjbTg9IiwiVGdhIjoiY0dsNFpXeGZOdz09In0%3D" target="_blank">Order Now</a>
    </div>
<!--pixel-6a-->
    <div class="card">
        <div class="card-image google-pixel-6a"></div>
        <h2>Google Pixel 6a</h2>
        <p>
            Experience intuitiveness and enjoy seamless operation with smooth transition with the 5G-ready Google Pixel 6a that comes bundled with a myriad of innovative features. Powered by the Google Tensor...</p>
        <a href="https://store.google.com/us/config/pixel_6a?hl=en-GB&selections=eyJTZ2EiOiJjR2w0Wld4Zk4xOXdjbTg9IiwiVGdhIjoiY0dsNFpXeGZObUU9In0%3D"target="_blank">Order Now</a>
    </div>
    <!--pixel-6pro-->
    <div class="card">
        <div class="card-image google-pixel-6pro"></div>
        <h2>Google Pixel 6 Pro</h2>
        <p>
            The upgraded ultrawide lens with autofocus now powers Macro Focus. Also, the Pixel 7 Pro has a 30x Super Res Zoom for high-quality photos from far away. Moreover, the Pixel 7 Pro's 17.018 cm (6.7) Smooth Display...</p>
        <a href="https://store.google.com/us/product/pixel_6_pro?hl=en-GB&selections=eyJTZ2EiOiJjR2w0Wld4Zk4xOXdjbTg9IiwiVGdhIjoiY0dsNFpXeGZOMTl3Y204PSJ9"target="_blank">Order Now</a>
    </div>
    <!--pixel-6-->
    <div class="card">
        <div class="card-image google-pixel-6"></div>
        <h2>Google Pixel 6</h2>
        <p>
            Moreover, the powerful battery adapted into this phone gives enormous power to your phone allowing it to run for a prolonged period. Furthermore...
        </p>
        <a href="https://store.google.com/us/product/pixel_6?hl=en-GB&selections=eyJTZ2EiOiJjR2w0Wld4Zk4xOXdjbTg9IiwiVGdhIjoiY0dsNFpXeGZOMTl3Y204PSJ9"target="_blank">Order Now</a>
    </div>
    
</section>