<main class="all">
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h5>Laptops & mobiles</h5>
                    <p>A mobile device is a general term for any type of handheld computer. These devices are designed to be extremely portable, and they can often fit in your hand. Some mobile devices—like tablets, e-readers, and smartphones—are powerful enough to do many of the same things you can do with a desktop or laptop computer.
                    </p>
                
                     
                     <h5>About Mobiles</h5>
                     <p>A smartphone is a cell phone that lets you do more than make phone calls and send text messages. Smartphones can browse the Internet and run software programs like a computer. Smartphones use a touch screen to allow users to interact with them.</p>
                     <p>This Website Created By --Shaik Mohammed Farhaan--</p>
                    </div>
            </div>
            <div class="image-section">
                <img src="../../../assets/about-1 (1).jpg" alt="women">
            </div>
        </div>
    </div>
</main>