<section class="container">
    <div class="card">
        <div class="card-image apple-14"></div>
        <h2>iPhone 14 Pro</h2>
        <p> Dynamic Island, Always-On Display, Pro Motion Technology with Adaptive Refresh Rates Upto 120 Hz, HDR Display, True Tone, Wide Colour (P3), Haptic Touch, Contrast Ratio: 20,00,000:1...  </p>
        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-14-pro" target="_blank">Order Now</a>
    </div>
    <!--apple-14-->
    <div class="card">
        <div class="card-image apple14"></div>
        <h2>Apple 14</h2>
        <p>
            HDR Display, True Tone, Wide Colour (P3), Haptic Touch, Contrast Ratio: 20,00,000:1, Max Brightness: 800 nits, Peak Brightness: 1,200 nits, Fingerprint Resistant Oleophobic... </p>
        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-14" target="_blank">Order Now</a>
    </div>
<!--apple-13-->
    <div class="card">
        <div class="card-image apple-13"></div>
        <h2>Apple 13</h2>
        <p>
            The iPhone 13 features a stylish design and innovative features that make it a delight to use. It is equipped with a Dual-camera system that adds an upgrade to the photos and videos that you take. It offers...</p>
        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-13"target="_blank">Order Now</a>
    </div>
    <!--apple-13-pro-->
    <div class="card">
        <div class="card-image apple-13-pro"></div>
        <h2>Apple 13 Pro</h2>
        <p>
            iPhone 13. boasts an advanced dual-camera system that allows you to click mesmerising pictures with immaculate clarity. Furthermore, the lightning-fast A15 Bionic chip allows for seamless multitasking, elevating...</p>
        <a href="https://www.apple.com/am/iphone-13-pro/"target="_blank">Order Now</a>
    </div>
    <!--apple-12-->
    <div class="card">
        <div class="card-image apple-12"></div>
        <h2>Apple 12 </h2>
        <p>
            Dive into a world of crystal-clear visuals with the Super Retina XDR Display of this Apple iPhone 12. This beast of a smartphone packs the A14 Bionic chip to make for blazing-fast performance speeds. On top of that...
        </p>
        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-12"target="_blank">Order Now</a>
    </div>
    <!--apple-se-->
    <div class="card">
        <div class="card-image apple-se"></div>
        <h2>Apple SE</h2>
        <p>
            12MP Wide Camera, F/1.8 Aperture, Portrait Mode with Advanced Bokeh and Depth Control, Portrait Lighting with Six Effects (Natural, Studio, Contour, Stage, Stage Mono, High...
        </p>
        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-se"target="_blank">Order Now</a>
    </div>
    <!--apple-13-mini-->
    <div class="card">
        <div class="card-image apple-13-mini"></div>
        <h2>Apple 13 Mini</h2>
        <p>
            iPhone 13. boasts an advanced dual-camera system that allows you to click mesmerising pictures with immaculate clarity. Furthermore, the lightning-fast A15 Bionic chip allows for seamless multitasking, elevating ...
        </p>
        <a href="https://www.apple.com/shop/buy-iphone/iphone-13"target="_blank">Order Now</a>
    </div>
    <!--apple-11-->
    <div class="card">
        <div class="card-image apple-11"></div>
        <h2>Apple 11</h2>
        <p>
            The iPhone 11 boasts a gorgeous all-screen Liquid Retina LCD that is water resistant up to 2 metres for up to 30 minutes Moreover, the ultra-wide 13 mm lens has a 120-degree field of view for four times more scenes....
        </p>
        <a href="https://www.apple.com/am/iphone-11/specs/"target="_blank">Order Now</a>
    </div>
</section>