<div class="banner">
    <div class="content">
    <h1 class="mb-5">New Brand <br> Mobiles. </h1>
    <a routerLink="products" class="btn">Check now <img src="https://cdn-icons-gif.flaticon.com/7740/7740748.gif" alt="Arrow"></a>
</div>
</div>
<!--Top Trending Products-->
<h1>Top Trending Mobiles</h1>
<section class="container">
    <div class="card">
        <div class="card-image apple-14"></div>
        <h2>Apple 14 Pro</h2>
        <p>The iPhone 14 Pro  comes with a 6.7-inch ProMotion technology touchscreen, features Crash Detection and a new Truedepth 48-megapixel front camera with Photonic Engine... </p>
        <a href="https://www.apple.com/in/shop/buy-iphone/iphone-14-pro" target="_blank">Order Now</a>
    </div>
    <div class="card">
        <div class="card-image oppo-8"></div>
        <h2>Oppo Reno8 Pro5G</h2>
        <p> The Oppo Reno8 Pro5G Equipped with a 5 nm Octa-core MediaTek Dimensity 8100-MAX processor,Moreover with up to 12 GB of RAM and 256 GB of ROM storage...  </p>
        <a href="https://www.oppo.com/in/smartphones/series-reno/reno8-pro-5g/" target="_blank">Order Now</a>
    </div>
    
    <div class="card">
        <div class="card-image samsung-s22"></div>
        <h2>Samsung Galaxy S22 Ultra</h2>
        <p>Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity, compass, barometer Samsung DeX, Samsung Wireless DeX (desktop experience support)....</p>
        <a href="https://www.samsung.com/in/smartphones/galaxy-s22-ultra/buy/"target="_blank">Order Now</a>
    </div>
</section>

<section class="container">
    <div class="card">
        <div class="card-image apple-13-pro"></div>
        <h2>Apple 13 Pro Max </h2>
        <p>iPhone 13 Pro Max Oh. So. Even more Pro. iPhone 13 Pro Max. A total Pro. The biggest Pro camera system upgrade ever... </p>
        <a href="https://www.apple.com/am/iphone-13-pro/" target="_blank">Order Now</a>
    </div>

    <div class="card">
        <div class="card-image vivo-x80"></div>
        <h2>Vivo x80 Pro </h2>
        <p>Vivo X80 is a line of Android-based smartphones developed and manufactured by Vivo. It features a Zeiss imaging system... </p>
        <a href="https://shop.vivo.com/in/product/10178?utm_source=vivoWebsite&utm_medium=homepage_bigbanner_X80Pro&utm_campaign=vivo_X80Pro&cid=vivoWebsite_homepage_bigbanner_X80Pro&from=officialsite&_ga=2.167426942.1177148402.1667975554-600400591.1667754452" target="_blank">Order Now</a>
    </div>

    <div class="card">
        <div class="card-image google-7"></div>
        <h2>Google Pixel 7 Pro 5G  </h2>
        <p>Introducing Pixel 7 Pro, Google's best-of-everything phone. Powered by Google Tensor G2, it's fast and secure... </p>
        <a href="https://store.google.com/us/config/pixel_7_pro?hl=en-GB&selections=eyJTZ2EiOiJjR2w0Wld4Zk4xOXdjbTg9In0%3D" target="_blank">Order Now</a>
    </div>

    
</section>