<section class="container">
    <div class="card">
        <div class="card-image moto-edge-30-ultra"></div>
        <h2>Moto Edge 30 Ultra</h2>
        <p> 
            Triple Camera Setup: 200MP Main Camera (1/1.22 inch Sensor Size, f/1.9 Aperture, 0.6um Pixel Size, Ultra Pixel Technology for 2.6um, Optical Image Stabilization) + 50MP Ultra ... 
         </p>
        <a href="https://www.motorola.in/motorola-edge-30-ultra-1/p" target="_blank">Order Now</a>
    </div>
    <!--moto-g72-->
    <div class="card">
        <div class="card-image moto-g72"></div>
        <h2>Moto g72</h2>
        <p>
            The magnificent Motorola G72 smartphone offers a variety of breathtaking features together with unrivalled performance and an exquisite user experience. A true representation of the world with deep blacks ... </p>
        <a href="https://www.motorola.in/smartphones-motorola-g72/p" target="_blank">Order Now</a>
    </div>
<!--moto-g62-5g-->
    <div class="card">
        <div class="card-image moto-g62-5g"></div>
        <h2>Moto g62 5G</h2>
        <p>
            With the Moto G62, you can enjoy lag-free gaming, seamless multitasking, and stunning stutter-free graphics. This phone allows you to juggle while savouring entertainment owing to its astounding 16.51 cm (6.5)...</p>
        <a href="https://www.motorola.in/smartphones-moto-g-62-5g/p"target="_blank">Order Now</a>
    </div>
    <!--moto-e22s-->
    <div class="card">
        <div class="card-image moto-e22s"></div>
        <h2>Moto e22s</h2>
        <p>
            With this smartphone's plethora of great features, enjoy flawless performance and fantastic UI. You can easily swipe, scroll, and switch between apps and websites with a quick 90 Hz refresh rate. Furthermore, a stunning...</p>
        <a href="https://www.motorola.in/smartphones-motorola-e22s/p?skuId=311"target="_blank">Order Now</a>
    </div>
    <!--moto-e32-->
    <div class="card">
        <div class="card-image moto-e32"></div>
        <h2>Moto e32</h2>
        <p>
            The Moto E32 smartphone is designed for die-hard content consumers who enjoy streaming videos on the go and capturing detailed moments in any lighting while standing out from the crowd. It's amazing to see...
        </p>
        <a href="https://www.motorola.in/smartphones-motorola-e32/p"target="_blank">Order Now</a>
    </div>
    <!--moto-edge-30-fusion-->
    <div class="card">
        <div class="card-image moto-edge-30-fusion"></div>
        <h2>Moto Edge 30 Fusion</h2>
        <p>
            If you want to truly understand the meaning of fluidity and smooth operation, behold the innovative Motorola Edge 30 Fusion smartphone, designed to mesmerise you with its slender design and feature-packed build...
        </p>
        <a href="https://www.motorola.in/motorola-edge-30-fusion/p"target="_blank">Order Now</a>
    </div>
    <!--moto-g82-5g-->
    <div class="card">
        <div class="card-image moto-g82-5g"></div>
        <h2>Moto g82 5G</h2>
        <p>
            Attaining excellence is a matter of convenience with the impressive Moto G82 5G that comes loaded with incredible features to mesmerise you into the world of awesomeness. Its brilliant pOLED display allows...
        </p>
        <a href="https://www.motorola.in/smartphone-motorola-moto-g82/p"target="_blank">Order Now</a>
    </div>
    <!--moto-e40-->
    <div class="card">
        <div class="card-image moto-e40"></div>
        <h2>Moto e40</h2>
        <p>
            The moto e40 features a custom-designed UNISOC T700 Octa-core 1.8 GHz processor so that you can enjoy an efficient graphics performance. You can multitask with ease, thanks to the mobile phone's 4 GB of RAM...
        </p>
        <a href="https://www.motorola.in/smartphones-moto-e40/p"target="_blank">Order Now</a>
    </div>
</section>