<section class="container">
    <div class="card">
        <div class="card-image oppo-8"></div>
        <h2>Oppo Reno8 Pro5G</h2>
        <p> The Oppo Reno8 Pro5G Equipped with a 5 nm Octa-core MediaTek Dimensity 8100-MAX processor,Moreover with up to 12 GB of RAM and 256 GB of ROM storage...  </p>
        <a href="https://www.oppo.com/in/smartphones/series-reno/reno8-pro-5g/" target="_blank">Order Now</a>
    </div>
    <!--find-x5-->
    <div class="card">
        <div class="card-image oppo-x5"></div>
        <h2>Oppo Find X5 Pro</h2>
        <p>The OPPO Find X5 Pro is powered by 3 GHz Octa-core processor and it comes with 12GB of RAM. The OPPO Find X5 Pro packs 256GB of internal storage that cannot be expanded... </p>
        <a href="https://www.oppo.com/en/smartphones/series-find-x/find-x5-pro/" target="_blank">Order Now</a>
    </div>
<!--oppo-k10-->
    <div class="card">
        <div class="card-image oppo-k10"></div>
        <h2>Oppo K10 4G</h2>
        <p>Get the photographer in you to light with Oppo K10 Designed specifically for camera lovers this phone comes with a 50 MP triple camera setup Thanks to its varied camera features such as Night Scape Mode...</p>
        <a href="https://www.oppo.com/in/product/oppok10.P.P1100092"target="_blank">Order Now</a>
    </div>
    <!--oppo-21-pro-->
    <div class="card">
        <div class="card-image oppo-21"></div>
        <h2>Oppo F21 Pro 5G</h2>
        <p>
            The front camera automatically detects the background light and uses an algorithm to suppress bright light when it detects a backlit face or an overlit background, In Portrait mode bokeh and HDR are ...</p>
        <a href="https://www.oppo.com/in/product/f21pro5g.P.P1100098"target="_blank">Order Now</a>
    </div>
    <!--oppo-a76-->
    <div class="card">
        <div class="card-image oppo-a76"></div>
        <h2>Oppo A76</h2>
        <p>
            Gear up your speed and get ready to be the pioneer of efficiency with the Oppo A76 which boasts a plethora of features. This phone comes with a large 5000 mAh battery with a 33 W fast charging capability...
        </p>
        <a href="https://www.oppo.com/in/product/oppoa76.P.P1100094"target="_blank">Order Now</a>
    </div>
    <!--oppo-f17-->
    <div class="card">
        <div class="card-image oppo-f17"></div>
        <h2>Oppo F17 Pro</h2>
        <p>
            Indulge yourself in the content that you're watching on this stunning Oppo F17 Pro smartphone as it comes with a 16.34-cm (6.43) Full HD+ screen. The 4 rear cameras (48 MP + 8 MP + 2 MP + 2 MP) and 2 front cameras...
        </p>
        <a href="https://www.oppo.com/in/smartphones/series-f/f17-pro/"target="_blank">Order Now</a>
    </div>
    <!--oppo-a92020-->
    <div class="card">
        <div class="card-image oppo-a92020"></div>
        <h2>Oppo A9<sup>2020</sup></h2>
        <p>
            Face Recognition, Split Screen (Specific Apps), Clone Apps, Night Shield, Sensor Hub, Game Acceleration (Specific Apps), CPU Technology - 11nm, ROM Technology: UFS 2.1, Energy Density - 700 ...
        </p>
        <a href="https://www.oppo.com/in/smartphones/series-a/a9-2020/"target="_blank">Order Now</a>
    </div>
    <!--oppo-a33-->
    <div class="card">
        <div class="card-image oppo-a33"></div>
        <h2>Oppo A33</h2>
        <p>
            89.20% Screen Ratio, 72% (Typ) Color Saturation, 20:9 Screen Proportion, Touch Screen Glass Type: Corning GG3+, 90 Hz Screen Refresh Rate, 120 Hz Touch Sampling Rate, 2D Screen Protective Film...
        </p>
        <a href="https://www.oppo.com/in/smartphones/series-a/a33/"target="_blank">Order Now</a>
    </div>
</section>