<section class="container">
    <div class="card">
        <div class="card-image samsung-s22"></div>
        <h2>Samsung Galaxy S22 Ultra</h2>
        <p> Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity, compass, barometer Samsung DeX, Samsung Wireless DeX (desktop experience support)...  </p>
        <a href="https://www.samsung.com/in/smartphones/galaxy-s22-ultra/buy/?modelCode=SM-S908EDRG&cid=in_paid_ppc_google_allproducts_none_allproducts-eshop-bau-performancemax_pla_20220107_15793211205-----1ur-501359l-2022&gclid=CjwKCAiAvK2bBhB8EiwAZUbP1L8bsBS2WAXtCvxgfy7PB8LTyolGEhdBq4RUcYT54aUcsVGdfuVcuRoCCcQQAvD_BwE" target="_blank">Order Now</a>
    </div>
    <!--samsung-a53-->
    <div class="card">
        <div class="card-image samsung-a53"></div>
        <h2>Samsung Galaxy A53</h2>
        <p>
            Transform your binge game playing sessions into an enthralling one with the Samsung Galaxy F53 smartphone. This phone features an FHD+ Super AMOLED display with an expanded 16.40 cm (6.5) Infinity-O... </p>
        <a href="https://www.samsung.com/in/smartphones/galaxy-a53/buy/" target="_blank">Order Now</a>
    </div>
<!--samsung-z-fold-->
    <div class="card">
        <div class="card-image samsung-z-fold"></div>
        <h2>Samsung Galaxy Z Fold 4</h2>
        <p>
            With the Samsung Galaxy Z Fold4 5G's impressive selection of unique apps, you can fold your way through a challenging workday and maintain productivity. The magnificent...</p>
        <a href="https://www.samsung.com/in/smartphones/galaxy-z-fold4/buy/"target="_blank">Order Now</a>
    </div>
    <!--samsung-s21-fe-->
    <div class="card">
        <div class="card-image samsung-s21-fe"></div>
        <h2>Samsung Galaxy S21 FE</h2>
        <p>
            With the Samsung Galaxy S21 FE, you can experience seamless gaming and mesmerising photography. This device is made to make you smile every time you unlock it. With only a little tap, you can capture amazing  ...</p>
        <a href="https://www.samsung.com/us/smartphones/galaxy-s21-fe-5g/buy/galaxy-s21-fe-5g-256gb-unlocked-sm-g990uzawxaa/?modelCode=SM-G990UZAWXAA"target="_blank">Order Now</a>
    </div>
    <!--samsung-a32-->
    <div class="card">
        <div class="card-image samsung-a32"></div>
        <h2>Samsung Galaxy A32 5G </h2>
        <p>
            8 GB RAM | 128 GB ROM | Expandable Upto 1 TB16.26 cm (6.4 inch) Full HD+ Display64MP + 8MP + 5MP + 5MP | 20MP Front Camera5000 mAh Lithium ion Battery Mediatek Helio...
        </p>
        <a href="https://www.samsung.com/us/smartphones/galaxy-a-phones/buy/?skipDevice=galaxy-a32-5g"target="_blank">Order Now</a>
    </div>
    <!--samsung-z-flip-->
    <div class="card">
        <div class="card-image samsung-z-flip"></div>
        <h2>Samsung Galaxy Z Flip 4</h2>
        <p>
            Capture the world around you and enjoy a seamless utility experience with the Samsung Galaxy Z Flip4 smartphone. This smartphone features a mind-blowing 4.82 cm (1.9) Cover Screen so that you ...
        </p>
        <a href="https://www.samsung.com/in/smartphones/galaxy-z-flip4/buy/"target="_blank">Order Now</a>
    </div>
    <!--samsung-a73-->
    <div class="card">
        <div class="card-image samsung-a73"></div>
        <h2>Samsung Galaxy A73 5G</h2>
        <p>
            Step up to a new realm of smartphones with the Samsung Galaxy A73 which comes loaded with innovative features. This phone boasts lightning-fast 5G...
        </p>
        <a href="https://www.samsung.com/in/smartphones/galaxy-a73/buy/?modelCode=SM-A736BLGGINU"target="_blank">Order Now</a>
    </div>
    <!--samsung-m33-->
    <div class="card">
        <div class="card-image samsung-m33"></div>
        <h2>Samsung Galaxy M33 5G.</h2>
        <p>
            Samsung Galaxy M33 5G (Mystique Green, 6GB, 128GB Storage) | Travel Adapter to be Purchased Separately | 5nm Processor | 6000mAh Battery...
        </p>
        <a href="https://www.samsung.com/in/smartphones/galaxy-m/galaxy-m33-5g-blue-128gb-storage-6gb-ram-sm-m336bzbpins/buy/"target="_blank">Order Now</a>
    </div>
</section>