h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: white;
    width: 270px;
    height: 550px;
    margin: 20px;
    border-radius: 15px;
}
.card-image{
    background-color: aqua;
    height: 250px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
}
.samsung-s22{
    background-image: url(../../../assets/samsung-s22.png);
}
.samsung-a53{
    background-image: url(../../../assets/samsung-a53.png);
}
.samsung-z-fold{
    background-image: url(../../../assets/samsung-z-fold.png);
}
.samsung-s21-fe{
    background-image: url(../../../assets/samsung-s21-fe.png);
}
.samsung-a32{
    background-image: url(../../../assets/samsung-a32.png);
}
.samsung-z-flip{
    background-image: url(../../../assets/samsung-z-flip.png);
}
.samsung-a73{
    background-image: url(../../../assets/samsung-a73.png);
}
.samsung-m33{
    background-image: url(../../../assets/samsung-m33.png);
}
.card p{
    padding: 10px;
    height: 50%;
}
.card h2{
    padding:10px;
    font-size: x-large;
    text-align: center;
}
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px 50px;
    border-radius: 20px;
}
.card:hover{
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.03);
}
.card a:hover{
    background-color: skyblue;
    color: black;
    font-size: larger;
}


