<section class="container">
    <div class="card">
        <div class="card-image vivo-80-pro"></div>
        <h2>Vivo X80 Pro</h2>
        <p> Vivo X80 is a line of Android-based smartphones developed and manufactured by Vivo. It features a Zeiss imaging system...  </p>
        <a href="https://shop.vivo.com/in/product/10178?utm_source=vivoWebsite&utm_medium=homepage_bigbanner_X80Pro&utm_campaign=vivo_X80Pro&cid=vivoWebsite_homepage_bigbanner_X80Pro&from=officialsite&_ga=2.167426942.1177148402.1667975554-600400591.1667754452" target="_blank">Order Now</a>
    </div>
    <!--vivo-t1-5g-->
    <div class="card">
        <div class="card-image vivo-t1-5g"></div>
        <h2>Vivo T1 5G  </h2>
        <p>
            Be ready to encounter a thrilling user experience, improved mobile performance, and smooth gaming with the powerful Vivo T1 5G mobile phone. This mobile phone comes with a 16.72 cm (6.58) FHD in-cell display... </p>
        <a href="https://shop.vivo.com/in/product/10164?utm_source=vivoWebsite&utm_medium=homepage_bigbanner_T1&utm_campaign=vivo_YT1&cid=vivoWebsite_homepage_bigbanner_T1&from=officialsite&_ga=2.4606195.1928080356.1668101450-600400591.1667754452" target="_blank">Order Now</a>
    </div>
<!--vivo-25-pro-->
    <div class="card">
        <div class="card-image vivo-25-pro"></div>
        <h2>Vivo 25 Pro</h2>
        <p>
            With the innovative Vivo V25 Pro 5G smartphone, which is perfectly suited for multitaskers, you can effortlessly elevate your entertainment to a different extreme and enhance your productivity. This phone boosts ...</p>
        <a href="https://shop.vivo.com/in/product/10188?utm_source=vivoWebsite&utm_medium=homepage_bigbanner_V25Pro&utm_campaign=vivo_V25Pro&cid=vivoWebsite_homepage_bigbanner_V25Pro&from=officialsite&_ga=2.27271420.1928080356.1668101450-600400591.1667754452"target="_blank">Order Now</a>
    </div>
    <!--vivo-v23-->
    <div class="card">
        <div class="card-image vivo-v23"></div>
        <h2>Vivo V23 5G</h2>
        <p>
            Capture professional-looking pictures with the Vivo V23 smartphone. This mobile phone features a 50 MP front camera and a 64 MP night camera to let you capture stunning pictures every day. Moreover, it comes...</p>
        <a href="https://shop.vivo.com/in/product/10157?utm_source=vivoWebsite&utm_medium=homepage_bigbanner_V23&utm_campaign=vivo_V23&cid=vivoWebsite_homepage_bigbanner_V23&from=officialsite&_ga=2.34409057.1928080356.1668101450-600400591.1667754452"target="_blank">Order Now</a>
    </div>
    <!--vivo-v25-->
    <div class="card">
        <div class="card-image vivo-v25"></div>
        <h2>Vivo V25</h2>
        <p>
            The innovative Vivo V25 5G smartphone is designed to wow you from the inside out. It allows you to discover exciting options and capture timeless beauty. The 6 nm CPU and dual-mode 5G in this phone enable...
        </p>
        <a href="https://shop.vivo.com/in/product/10193?utm_source=vivoWebsite&utm_medium=homepage_bigbanner_V25&utm_campaign=vivo_V25&cid=vivoWebsite_homepage_bigbanner_V25&from=officialsite&_ga=2.1336945.1928080356.1668101450-600400591.1667754452"target="_blank">Order Now</a>
    </div>
    <!--vivo-t1-44w-->
    <div class="card">
        <div class="card-image vivo-t1-44w"></div>
        <h2>Vivo T1 44W</h2>
        <p>
            Enjoy gaming thrills and capture your memorable moments with the Vivo T1 smartphone. This mobile phone is driven by a Snapdragon 680 processor so that you can get speeded up performance on this phone...
        </p>
        <a href="https://shop.vivo.com/in/product/10170?utm_source=vivoWebsite&utm_medium=homepage_bigbanner_T144W&utm_campaign=vivo_T144W&cid=vivoWebsite_homepage_bigbanner_T144W&from=officialsite&_ga=2.38683235.1928080356.1668101450-600400591.1667754452"target="_blank">Order Now</a>
    </div>
    <!--vivo-y73-->
    <div class="card">
        <div class="card-image vivo-y73"></div>
        <h2>Vivo Y73</h2>
        <p>
            Stylish, fast, and user-friendly - the Vivo Y73 is a smartphone for people who love to click wonderful photos and work on multiple apps at the same time. This smartphone features a 64 MP Ultra HD Main Camera ...
        </p>
        <a href="https://shop.vivo.com/in/product/10134?utm_source=vivoWebsite&utm_medium=homepage_bigbanner_Y73&utm_campaign=vivo_Y73&cid=vivoWebsite_homepage_bigbanner_Y73&from=officialsite&_ga=2.9782517.1928080356.1668101450-600400591.1667754452"target="_blank">Order Now</a>
    </div>
    <!--vivo-y16-->
    <div class="card">
        <div class="card-image vivo-y16"></div>
        <h2>Vivo Y16</h2>
        <p>
            Dual Camera Setup: 13MP (f/2.2 Aperture) + 2MP (f/2.4 Aperture), Camera Feature: Panorama, Face Beauty, Photo, Video, Live Photo, Timelapse, Pro, Documents...
        </p>
        <a href="https://www.vivo.com/en/products/y16"target="_blank">Order Now</a>
    </div>
</section>