h1{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: white;
    width: 270px;
    height: 550px;
    margin: 20px;
    border-radius: 15px;
}
.card-image{
    background-color: aqua;
    height: 250px;
    margin-bottom: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0 0 ;
}
.vivo-80-pro{
    background-image: url(../../../assets/vivo-x80pro.png);
}
.vivo-t1-5g{
    background-image: url(../../../assets/vivo-t1-5g.png);
}
.vivo-25-pro{
    background-image: url(../../../assets/vivo-25-pro.png);
}
.vivo-v23{
    background-image: url(../../../assets/vivo-v23.png);
}
.vivo-v25{
    background-image: url(../../../assets/vivo-v25.png);
}
.vivo-t1-44w{
    background-image: url(../../../assets/vivo-t1-44w.png);
}
.vivo-y73{
    background-image: url(../../../assets/vivo-y73.png);
}
.vivo-y16{
    background-image: url(../../../assets/vivo-y16.png);
}
.card p{
    padding: 10px;
    height: 50%;
}
.card h2{
    padding:10px;
    font-size: x-large;
    text-align: center;
}
.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px 50px;
    border-radius: 20px;
}
.card:hover{
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.03);
}
.card a:hover{
    background-color: skyblue;
    color: black;
    font-size: larger;
}